# Vivado 자동 생성 파일
*.jou
*.log
*.str
*.pb
*.wdb
*.wcfg
*.dcp
*.bit
*.ltx
*.mmi
*.bin

# Vivado 프로젝트 디렉토리
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.gen/
*.srcs/utils_1/
*.xpr.backup/

# Vitis / 시뮬레이션
.Xil/
xsim.dir/
*.vcd
*.saif
xelab.*
xvlog.*
xsim.*
webtalk.*

# OS
.DS_Store
*~
*.swp
